* {
  margin: 0;
  padding: 5px;
}
body {
  background-color: rgb(14, 12, 12);
  color: rgb(238 230 230);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  padding: 10px;
  color: #fff;
  background-color: rgb(153, 150, 150);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.menu {
  display: flex;
  list-style: none;
}
.menu li {
  display: flex;
  padding: 5px;
  justify-content: center;
  padding-right: 150px;
  transition: 0.2s;
  text-align: center;
}
.menu li:hover {
  color: aqua;
}
section {
  display: flex;
  margin: 5px;
}
.home {
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: beige;
  padding-top: 50px;
}
.sstitre {
  display: flex;
  font-size: 5rem;
  padding-top: 80px;
}
.stitre {
  display: flex;
  justify-content: space-between;
  color: rgb(62, 10, 206);
  font-size: 2rem;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(37, 167, 134);
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
p {
  font-size: 0.8rem;
}
.left {
  width: 200%;
  padding-right: 50px;
  padding-top: 100px;
}
.right {
  display: flex;
  padding-right: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.foot {
  display: flex;
}
.titre {
  align-items: flex-start;
  font-size: 20px;
}
.but {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 30px;
  position: relative;
}
button {
  background-color: rgb(22, 22, 228);
  color: white;
  border-radius: 9px;
  height: 40px;
  width: 150px;
  margin-bottom: 5px;
  font-weight: 600;
}
.titreg {
  width: 67%;
  flex-direction: column;
  justify-content: space-around;
}
.im {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  width: 67%;
}
.im img {
  width: 80px;
}
.scrolled {
  background-color: blue;
  animation: change 1s linear;
  top: 0;
}
@keyframes change {
  0% {
    height: 0%;
  }
  100% {
    height: 10vh;
  }
}
